#{extends 'main.html' /}
#{set title:'Clean by Kling | Fall Winter 2013' /}


#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery.masonry.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	
#{/set}

<body id="fw13">
<div id="fw13container" >
<a href="/"><img src="/public/images/logofw13.png" width="460" height="170" /></a>
<img src="/public/images/wisfw13.png" width="290" height="158" alt="fall winter 13" /> 
<a href="http://kling.es/eshop/clean%20by%20kling" ><img class="imgHoverable" id="ss13links" src="/public/images/wiseshop.png" width="133" height="82" alt="clean eshop" /></a><a href="/stores"><img class="imgHoverable" src="/public/images/ss13shops.png" width="186" height="63" id="ss13links" /></a><a href="/whatsclean"><img class="imgHoverable" src="/public/images/shops_wis.png" width="186" height="63" id="ss13links" /></a>
<br />
<br />
 
<img src="/public/images/soon.png" width="732" height="207" alt="fall winter 13" style="margin: 50px" >
</div>
</body>