#{extends 'main.html' /}
#{set title:'Home' /}

<body id="home">
<div id="wrapper">

<a href="/stores"><img id="stores" src="/public/images/stores.png" width="79" height="93"  /></a> 
<a href="http://kling.es/eshop/clean%20by%20kling"><img id="eshop" src="/public/images/eshop.png" width="63" height="43"  /></a>
<a href="/whatsclean"><img id="whatisclean" src="/public/images/whatisclean.png" width="78" height="106"  /></a>
<a href="/ss13"><img id="spring13" src="/public/images/spring13.png" width="95" height="85"  /></a>
<a href="/fw13"><img id="fall13ia" src="/public/images/fall13ia.png" width="115" height="164"  />
<img id="fall13" src="/public/images/fall13.png" width="115" height="164"  /></a>

</div>
</body>