#{extends 'main.html' /}
#{set title:'Clean by Kling | Spring Summer 2013' /}


#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery.masonry.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	
#{/set}


<body id="ss13">
<div id="ss13container">
<a href="/"><img class="imgHoverable" src="/public/images/ss13/logoss13.png" width="442" height="170" /></a>
<img src="/public/images/ss13_link.png" width="330" height="170" alt="spring summer 13" /> 
<a href="http://kling.es/eshop/clean%20by%20kling" ><img class="imgHoverable" id="ss13links" src="/public/images/wiseshop.png" width="133" height="82" alt="clean eshop" /></a><a href="/stores"><img class="imgHoverable" src="/public/images/ss13shops.png" width="186" height="63" id="ss13links" /></a>
<a href="/whatsclean"><img class="imgHoverable" src="/public/images/shops_wis.png" width="186" height="63" id="ss13links" /></a>
<br /><br />
<img class="box" src="/public/images/ss13/1.gif" width="301" height="302" />
<img class="box" src="/public/images/ss13/3.png" width="324" height="459" />
<img class="box" src="/public/images/ss13/2.png" width="259" height="281" />
<iframe class="box" src="http://player.vimeo.com/video/67286806?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179&amp;autoplay=1&amp;loop=1" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<img class="box" src="/public/images/ss13/10.png" width="260" height="261" />
<img class="box" src="/public/images/ss13/11.png" width="252" height="297" />
<img class="box" src="/public/images/ss13/5.png" width="217" height="196" />
<img class="box" src="/public/images/ss13/6.png" width="256" height="363" />
<img class="box" src="/public/images/ss13/7.png" width="202" height="202" />
<img class="box" src="/public/images/ss13/4.gif" width="430" height="324" />
<img class="box" src="/public/images/ss13/8.png" width="268" height="396" />
<img class="box" src="/public/images/ss13/9.png" width="346" height="363" />
<img class="box" src="/public/images/ss13/12.png" width="267" height="398" />
<img class="box" src="/public/images/ss13/13.png" width="357" height="506" />
<img class="box" src="/public/images/ss13/14.png" width="199" height="235" />
<img class="box" src="/public/images/ss13/15.png" width="190" height="189" />
<img class="box" src="/public/images/ss13/19.png" width="352" height="470" />
<img class="box" src="/public/images/ss13/16.png" width="265" height="260" />
<img class="box" src="/public/images/ss13/17.gif" width="185" height="345" />
<img class="box" src="/public/images/ss13/18.png" width="295" height="369" />
<img class="box" src="/public/images/ss13/20.png" width="295" height="396" />
</div>

</body>