#{extends 'main.html' /}
#{set title:'Clean by Kling | What is Clean' /}

<body>
<div id="container">
<a href="/"><img class="imgHoverable" src="/public/images/wislogo.png" width="610" height="240" /></a>
<a href="http://kling.es/" target="_blank"><img id="wiskling" class="imgHoverable"  src="/public/images/kling.png" width="140" height="63"  /></a>
<a href="/fw13"><img id="wisfw13" class="imgHoverable" src="/public/images/wisfw13.png" width="290" height="158" /></a>
<a href="/ss13"><img id="wisss13" class="imgHoverable" src="/public/images/wisss13.png" width="323" height="144" /></a>
<a href="http://kling.es/eshop/clean%20by%20kling"><img id="wiseshop" class="imgHoverable" src="/public/images/wiseshop.png" width="133" height="82" /></a>
<a href="/stores"><img id="wisstores" class="imgHoverable" src="/public/images/wisshops.png" width="186" height="63" /></a>
<a href="http://kling.es/" target="_blank"><img id="wisklinges" class="imgHoverable"  src="/public/images/klinges.png" width="117" height="76" /></a>
</div>
</body>